<!-- SECCION CONTACTO -->
<section id="contacto" class="contacto">
  <div class="contenido-seccion">
      <h2>CONTACTO</h2>
      <div class="fila">
          <!-- Formulario -->

          <div class="col">
              <input type="text" placeholder="Tú Nombre">
              <input type="text" placeholder="Número telefónico">
              <input type="text" placeholder="Dirección de correo">
              <input type="text" placeholder="Tema">
              <textarea name="" id="" cols="30" rows="10" placeholder="Mensaje"></textarea>
              <button>
                  Enviar Mensaje<i class="fa-solid fa-paper-plane"></i>
                  <span class="overlay"></span>
              </button>
          </div>
           <!--
          <form (ngSubmit)="onSubmit()" #form="ngForm">

            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name" [(ngModel)]="formData.name" required>

            <label for="email">Correo:</label>
            <input type="email" id="email" name="email" [(ngModel)]="formData.email" required>

            <label for="message">Mensaje:</label>
            <textarea id="message" name="message" [(ngModel)]="formData.message" required></textarea>

            <button type="submit" [disabled]="!form.valid">Enviar</button>

          </form> -->

          <!-- Mapa -->
          <div class="col">
              <img src="img/gps.jpg" alt="gps">
              <div class="info">
                  <ul>
                      <li>
                          <i class="fa-solid fa-location-dot"></i>
                         A. Valentini 1768,
                         <p>Mar del Plata</p>
                      </li>
                      <li>
                          <i class="fa-solid fa-mobile-screen"></i>
                          Teléfono: 2235 - 520696

                      </li>
                      <li>
                          <i class="fa-solid fa-envelope"></i>
                          Email: {{correo}}
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</section>
