 <!-- SECCION INICIO -->
 <section id="inicio" class="inicio">
  <div class="contenido-banner">
      <div class="contenedor-img">
        <img src="img/gonza4x4.jpg" alt="foto4x4">
      </div>
      <h1>Gonzalo Ramos</h1>
      <h4>Analista de Sistemas - 2 año</h4>
      <div class="redes">
        <a href="https://github.com/GonzaloDark2" target="_blank" rel="noopener noreferrer">
          <i class="fa-brands fa-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/gonzalo-ramos-81b3a7328/" target="_blank" rel="noopener noreferrer">
          <i class="fa-brands fa-linkedin"></i>
        </a>
        <a href="mailto:gonzalodarkangel2@gmail.com" target="_blank" rel="noopener noreferrer">
          <i class="fa-solid fa-envelope"></i>
        </a>
      </div>
  </div>
</section>
