 <!-- MENU ENCABEZADO -->
   <div class="contenedor-header">
  <header>
      <div class="logo">
          <a href="#">Gonzalo</a>
      </div>
      <nav id="nav">
          <ul>
              <li><a href="#inicio" onclick="mostrarOcultarMenu()">INICIO</a></li>
              <li><a href="#sobremi" onclick="mostrarOcultarMenu()">SOBRE MI</a></li>
              <li><a href="#skills" onclick="mostrarOcultarMenu()">SKILLS</a></li>
              <li><a href="#curriculum" onclick="mostrarOcultarMenu()">CURRICULUM</a></li>
              <li><a href="#portfolio" onclick="mostrarOcultarMenu()">PORTFOLIO</a></li>
              <li><a href="#contacto" onclick="mostrarOcultarMenu()">CONTACTO</a></li>
          </ul>
      </nav>
      <div class="nav-responsive" onclick="mostrarOcultarMenu()">
          <i class="fa-solid fa-bars"></i>
      </div>
  </header>
</div>

<!-- <div class="contenedor-header">
  <header>
      <div class="logo">
          <a routerLink="/">Gonzalo</a>
      </div>
      <nav id="nav">
          <ul>
              <li><a routerLink="/" (click)="mostrarOcultarMenu()">INICIO</a></li>
              <li><a routerLink="/sobre-mi" (click)="mostrarOcultarMenu()">SOBRE MI</a></li>
              <li><a routerLink="/skills" (click)="mostrarOcultarMenu()">SKILLS</a></li>
              <li><a routerLink="/curriculum" (click)="mostrarOcultarMenu()">CURRICULUM</a></li>
              <li><a routerLink="/portfolio" (click)="mostrarOcultarMenu()">PORTFOLIO</a></li>
              <li><a routerLink="/contacto" (click)="mostrarOcultarMenu()">CONTACTO</a></li>
          </ul>
      </nav>
      <div class="nav-responsive" (click)="mostrarOcultarMenu()">
          <i class="fa-solid fa-bars"></i>
      </div>
  </header>
</div> -->

