  <!-- SECCION SOBRE MI -->
  <section id="sobremi" class="sobremi">
    <div class="contenido-seccion">
        <h2>Sobre Mí</h2>
        <p><span>Hola, soy Gonzalo.</span>
          Actualmente estoy estudiando Analista de Sistemas en HILET, donde estoy desarrollando habilidades sólidas en programacion y
            desarrollo web.
            Mi objetivo es crecer como profesional contribuyendo a proyectos impactantes y aprendiendo
           continuamente sobre nuevas tecnologías.
        <div class="fila">
            <!-- datos personales -->
            <div class="col">
                <h3>Datos Personales</h3>
                <ul>
                    <li>
                        <strong>Cumpleaños</strong>
                        28/12/1992
                    </li>
                    <li>
                        <strong>Teléfono</strong>
                        2235-5 520696
                    </li>
                    <li>
                        <strong>Email</strong>
                        {{correo}}
                    </li>
                    <li>
                        <strong>Website</strong>
                        www.example.com
                    </li>
                    <li>
                        <strong>Dirección</strong>
                        A. Valentini 1768
                    </li>
                    <li>
                        <strong>Cargo</strong>
                        <span>JUNIOR</span>
                    </li>
                </ul>
            </div>

            <!-- intereses -->
            <div class="col">
                <h3>Intereses</h3>
                <div class="contenedor-intereses">
                    <div class="interes">
                        <i class="fa-solid fa-gamepad"></i>
                        <span>JUEGOS</span>
                    </div>
                    <div class="interes">
                        <i class="fa-solid fa-headphones"></i>
                        <span>MUSICA</span>
                    </div>
                    <div class="interes">
                        <i class="fa-solid fa-plane"></i>
                        <span>VIAJAR</span>
                    </div>
                    <div class="interes">
                        <i class="fa-brands fa-apple"></i>
                        <span>MAC OS</span>
                    </div>
                    <div class="interes">
                        <i class="fa-solid fa-person-hiking"></i>
                        <span>DEPORTE</span>
                    </div>
                    <div class="interes">
                        <i class="fa-solid fa-book"></i>
                        <span>LIBROS</span>
                    </div>
                    <div class="interes">
                        <i class="fa-solid fa-car"></i>
                        <span>AUTOS</span>
                    </div>
                    <div class="interes">
                        <i class="fa-solid fa-camera"></i>
                        <span>FOTOS</span>
                    </div>

                </div>
            </div>
        </div>
        <button (click)="descargarCV()">
            Descargar CV <i class="fa-solid fa-download"></i>
            <span class="overlay"></span>
        </button>
    </div>
</section>
