<section id="portfolio" class="portfolio">
  <div class="contenido-seccion">
      <h2>PORTFOLIO</h2>
      <div class="galeria">
          <div class="proyecto">
              <img src="img/hilet.jpg" alt="hilet">
              <div class="overlay">
                  <h3>Proyecto Final</h3>
                  <p>C# & SQL</p>
              </div>
          </div>
          <div class="proyecto">
              <img src="img/React.jpg" alt="React">
              <div class="overlay">
                  <h3>Web Full Stack </h3>
                  <p>Curso</p>
              </div>
          </div>
          <div class="proyecto">
              <img src="img/4.0.jpg" alt="Programa4.0">
              <div class="overlay">
                  <h3>Front-End Primeros Pasos</h3>
                  <p>Curso</p>
              </div>
          </div>
        </div>
  </div>
</section>
